{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "mocha": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "document": false
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "strict": ["error", "global"],
    "no-unused-vars": "off",
    "no-undef": "off"
  },
  "ignorePatterns": "build/*"
}
