.app.dark {
  --bg-color: #232323;
  --inverted-bg-color: #f5f5f5;

  --primary-color: #2fd02f;
  --secondary-color: #36ef36;

  --inverted-primary-color: #000060;
  --inverted-secondary-color: #00009b;
}
