.app.light {
  --bg-color: #f5f5f5;
  --inverted-bg-color: #232323;

  --primary-color: #000060;
  --secondary-color: #00009b;

  --inverted-primary-color: #2fd02f;
  --inverted-secondary-color: #36ef36;
}
